*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #00ABFF;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



h1{
    color: white;
    grid-column: 2/3;
    text-align: center;
}

input[type='text'] {
    height: 3em;
    border-radius: 10em;
    border: none;
    width: 60vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    text-align: center;
    margin-bottom: 3em;
    background-color: #A5C3FF;
    grid-column: 2/3;
    margin-left: 80px;
}

p{
    padding-left: 40%;
}

h3{
    padding-left: 40px;
    padding-bottom: 40px;
}

a{
    padding-left: 80%;
}